header {
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;
}

.header__logoContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  img:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
}

.header__inputsForm {
  display: flex;
  align-items: center;
  position: relative;
  .header__input {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
  }
  .header__inputSearch {
    border-radius: 8px 0 0 8px;
    width: clamp(150px, 80%, 350px);
    height: 42px;
    border: 1px solid #d9d9d9;
    padding: 13px 24px 13px 37px;
    border-right: none;
    &:focus {
      outline: none;
      border: 1px solid $primary-font-color;
    }
  }
  .header__inputText {
    width: 254px;
    height: 42px;
    border: 1px solid #d9d9d9;
    padding: 13px 9px 13px 17px;
    &:focus {
      outline: none;
      border: 1px solid $primary-font-color;
    }
  }
  .header__searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #f65858;
    border-radius: 0 8px 8px 0;
    border: none;
    cursor: pointer;
  }
}

.header__inputImg {
  position: absolute;
  left: 12px;
}

.header__authLangContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  a {
    display: none;
  }
}

.header__loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.header__langChange,
.header__loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  &:hover {
    text-decoration: underline;
  }
}

.header__signUpButton {
  width: 83px;
  height: 36px;
  background-color: $primary-color;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: rgba($primary-color, 0.9);
  }
}

@media (max-width: 1196px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .header__inputText {
    display: none;
  }
}

@media (max-width: 772px) {
  header {
    flex-direction: column-reverse;
  }
  .header__logoContainer {
    padding-top: 15px;
    width: 100%;
    a {
      display: none;
    }
  }
  .header__authLangContainer {
    display: flex;
    justify-content: space-between;
    a {
      display: block;
    }
  }
  .header__inputsForm {
    width: 100%;
  }
}

@media (max-width: 576px) {
  header {
    padding: 4px 7px;
  }
  .header__loginContainer {
    gap: 10px;
    .header__langChange,
    .header__loginButton,
    .header__signUpButton {
      font-size: 12px;
    }
  }
}
