.hero {
  display: flex;
  padding-top: 98px;
  gap: 100px;
  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
  }
  p {
    padding-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .hero__btn {
    width: 125px;
    height: 40px;
    background-color: #00798a;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    &:hover {
      background-color: rgba(#00798a, 0.9);
    }
  }
}

.hero__container {
  width: 580px;
}

.hero__heroImg {
  &:hover {
    transition: all 0.5s;
    transform: scale(1.2);
  }
}

@media (max-width: 992px) {
  .hero {
    padding-top: 38px;
    align-items: center;
    gap: 50px;
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }
  .hero__heroImg {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .hero__container {
    width: 100%;
  }
  .hero__btn {
    display: none;
  }
}
