* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "1-header";
@import "2-hero";
@import "3-events-near";
@import "4-join-meetup";
@import "5-explore-top-categories";
@import "6-popular-cities";
@import "7-how-meetup-works";
@import "8-friendships";
@import "9-footer";
@import "events";
