* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

ul {
  list-style: none;
}

.container {
  width: 1181px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 540px) {
  .container {
    max-width: 520px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1196px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;
}

.header__logoContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__logoContainer img:hover {
  transition: all 1s;
  transform: scale(1.2);
}

.header__inputsForm {
  display: flex;
  align-items: center;
  position: relative;
}
.header__inputsForm .header__input {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}
.header__inputsForm .header__inputSearch {
  border-radius: 8px 0 0 8px;
  width: clamp(150px, 80%, 350px);
  height: 42px;
  border: 1px solid #d9d9d9;
  padding: 13px 24px 13px 37px;
  border-right: none;
}
.header__inputsForm .header__inputSearch:focus {
  outline: none;
  border: 1px solid #212121;
}
.header__inputsForm .header__inputText {
  width: 254px;
  height: 42px;
  border: 1px solid #d9d9d9;
  padding: 13px 9px 13px 17px;
}
.header__inputsForm .header__inputText:focus {
  outline: none;
  border: 1px solid #212121;
}
.header__inputsForm .header__searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #f65858;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}

.header__inputImg {
  position: absolute;
  left: 12px;
}

.header__authLangContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.header__authLangContainer a {
  display: none;
}

.header__loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.header__langChange,
.header__loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}
.header__langChange:hover,
.header__loginButton:hover {
  text-decoration: underline;
}

.header__signUpButton {
  width: 83px;
  height: 36px;
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.header__signUpButton:hover {
  background-color: rgba(0, 121, 138, 0.9);
}

@media (max-width: 1196px) {
  header {
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .header__inputText {
    display: none;
  }
}
@media (max-width: 772px) {
  header {
    flex-direction: column-reverse;
  }
  .header__logoContainer {
    padding-top: 15px;
    width: 100%;
  }
  .header__logoContainer a {
    display: none;
  }
  .header__authLangContainer {
    display: flex;
    justify-content: space-between;
  }
  .header__authLangContainer a {
    display: block;
  }
  .header__inputsForm {
    width: 100%;
  }
}
@media (max-width: 576px) {
  header {
    padding: 4px 7px;
  }
  .header__loginContainer {
    gap: 10px;
  }
  .header__loginContainer .header__langChange,
  .header__loginContainer .header__loginButton,
  .header__loginContainer .header__signUpButton {
    font-size: 12px;
  }
}
.hero {
  display: flex;
  padding-top: 98px;
  gap: 100px;
}
.hero h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}
.hero p {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.hero .hero__btn {
  width: 125px;
  height: 40px;
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
}
.hero .hero__btn:hover {
  background-color: rgba(0, 121, 138, 0.9);
}

.hero__container {
  width: 580px;
}

.hero__heroImg:hover {
  transition: all 1s;
  transform: scale(1.2);
}

@media (max-width: 992px) {
  .hero {
    padding-top: 38px;
    align-items: center;
    gap: 50px;
  }
  .hero h1 {
    font-size: 25px;
  }
  .hero p {
    font-size: 12px;
  }
  .hero__heroImg {
    height: 150px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .hero__container {
    width: 100%;
  }
  .hero__btn {
    display: none;
  }
}
.eventsNear {
  padding-top: 120px;
}

.eventsNear__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventsNear__headContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}
.eventsNear__headContainer h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .eventsNear__headContainer h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .eventsNear__headContainer h2 {
    font-size: 20px;
  }
}

.eventsNear__linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 44px;
  background-color: rgba(151, 202, 209, 0.1215686275);
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
}
.eventsNear__linkContainer:hover {
  text-decoration: underline;
  text-decoration-color: #00798a;
}
.eventsNear__linkContainer p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #00798a;
}

.seeAllEventsLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #00798a;
  text-decoration: none;
}
.seeAllEventsLink:hover {
  text-decoration: underline;
  text-decoration-color: #00798a;
}

.eventsNear__eventsList {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 36px;
       column-gap: 36px;
  row-gap: 86px;
}
.eventsNear__eventsList a {
  text-decoration: none;
  color: #212121;
  position: relative;
}
.eventsNear__eventsList a:hover h3 {
  text-decoration: underline;
  text-decoration-color: #212121;
}

.eventsNear__eventsListContainer h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 12px;
}

.eventsNear__eventsListImage {
  max-width: 100%;
  height: 153px;
  border-radius: 8px;
}

.eventsNear-onlineEventImg {
  position: absolute;
  width: clamp(25px, 50%, 106px);
  left: 10px;
  top: 5px;
}
.eventsNear-onlineEventImg:hover {
  transition: all 1s;
  transform: scale(1.2);
}

.eventsNear__activityKind {
  padding-top: 20px;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
}

.eventsNear__goingTicketContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.eventsNear__eventDateContainer {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 992px) {
  .eventsNear__eventDateContainer {
    padding-top: 8px;
  }
}
@media (max-width: 576px) {
  .eventsNear__eventDateContainer {
    padding-top: 0;
  }
}
.eventsNear__eventDateContainer p {
  font-size: 14px;
  font-weight: 400;
}

.eventsNear__goingContainer {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 992px) {
  .eventsNear__goingContainer {
    padding-top: 8px;
  }
}
@media (max-width: 576px) {
  .eventsNear__goingContainer {
    padding-top: 0;
  }
}
.eventsNear__goingContainer p {
  font-size: 16px;
  font-weight: 400;
}

.eventsNear__ticketContainer {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 992px) {
  .eventsNear__ticketContainer {
    padding-top: 8px;
  }
}
@media (max-width: 576px) {
  .eventsNear__ticketContainer {
    padding-top: 0;
  }
}
.eventsNear__ticketContainer p {
  font-size: 16px;
  font-weight: 400;
}

.eventsNear__onlineSection {
  padding-top: 90px;
}
.eventsNear__onlineSection h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .eventsNear__onlineSection h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .eventsNear__onlineSection h2 {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .eventsNear {
    padding-top: 60px;
  }
  .eventsNear__linkContainer p {
    font-size: 16px;
  }
  .seeAllEventsLink {
    font-size: 14px;
  }
  .eventsNear__eventsList {
    -moz-column-gap: 36px;
         column-gap: 36px;
    row-gap: 46px;
  }
  .eventsNear__eventsList h3 {
    font-size: 16px;
  }
  .eventsNear__eventsList p {
    font-size: 12px;
  }
  .eventsNear__eventsListImage {
    height: 95px;
  }
  .eventsNear__activityKind {
    padding-top: 12px;
  }
  .eventsNear__onlineSection {
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .eventsNear {
    padding-top: 25px;
  }
  .eventsNear__eventsList {
    padding-top: 24px;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 36px;
         column-gap: 36px;
    row-gap: 36px;
  }
  .eventsNear__linkContainer {
    width: 190px;
    height: 30px;
  }
  .eventsNear__linkContainer p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .eventsNear__eventsList {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .eventsNear__eventsList li {
    border-top: 1px solid #d9d9d9;
  }
  .eventsNear__eventsList a {
    padding-top: 10px;
    display: flex;
    gap: 3px;
  }
  .eventsNear__eventsList p {
    font-size: 10px;
  }
  .eventsNear__eventsListContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .eventsNear__eventsListContainer h3 {
    order: 1;
    padding-top: 0;
    padding-left: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
  }
  .eventsNear__eventsListImage {
    width: 110px;
    height: 65px;
  }
  .eventsNear-onlineEventImg {
    position: static;
    order: 3;
    width: 75px;
  }
  .eventsNear__activityKind {
    padding-top: 0;
    padding-left: 3px;
    order: 2;
    font-size: 10px;
    font-weight: 400;
  }
  .eventsNear__eventDateContainer {
    order: 0;
    padding-left: 3px;
  }
  .eventsNear__eventDateContainer p {
    color: #7c6f50;
    padding-top: 0;
  }
  .eventsNear__eventDateContainer img {
    display: none;
  }
  .eventsNear__goingTicketContainer {
    display: none;
  }
  .eventsNear__ticketContainer {
    display: none;
  }
  .eventsNear__eventsListImageContainer {
    flex-shrink: 0;
  }
  .seeAllEventsLink {
    display: none;
  }
  .eventsNear__linkContainer {
    font-size: 14px;
    height: 30px;
    max-width: 165px;
  }
  .eventsNear__linkContainer img {
    width: 15px;
    height: 15px;
  }
  .eventsNear__headContainer {
    gap: 10px;
  }
}
.joinMeetup {
  margin-top: 92px;
  padding: 36px 56px;
  background-color: rgba(151, 202, 209, 0.0784313725);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.joinMeetup img:hover {
  transition: all 1s;
  transform: scale(1.2);
}

.joinMeetup__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.joinMeetup__container h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .joinMeetup__container h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .joinMeetup__container h2 {
    font-size: 20px;
  }
}
.joinMeetup__container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.joinMeetup__container button {
  width: 192px;
  height: 40px;
  background-color: #e32359;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 192px;
  height: 40px;
  background-color: #e32359;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.joinMeetup__container button:hover {
  background-color: rgba(227, 35, 89, 0.9);
}
.joinMeetup__container button:hover {
  background-color: rgba(227, 35, 89, 0.9);
}

@media (max-width: 992px) {
  .joinMeetup {
    margin-top: 60px;
  }
  .joinMeetup__container p {
    font-size: 12px;
  }
  .joinMeetup__container button {
    width: 175px;
    height: 40px;
    background-color: #e32359;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .joinMeetup__container button:hover {
    background-color: rgba(227, 35, 89, 0.9);
  }
}
.joinMeetup__sectionHeader {
  display: none;
}

@media (max-width: 768px) {
  .joinMeetup {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .joinMeetup {
    gap: 22px;
    padding: 15px;
  }
  .joinMeetup img {
    max-width: 238px;
    order: 1;
  }
  .joinMeetup__sectionHeader {
    display: block;
    order: 2;
    align-self: flex-start;
  }
  .joinMeetup__container {
    order: 0;
  }
  .joinMeetup__container h2 {
    display: none;
  }
  .joinMeetup__container button {
    align-self: center;
    width: 192px;
    height: 40px;
    margin-top: 10px;
  }
}
.exploreTopCategories {
  padding-top: 100px;
}
.exploreTopCategories h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .exploreTopCategories h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .exploreTopCategories h2 {
    font-size: 20px;
  }
}
.exploreTopCategories ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
  padding-top: 24px;
}
.exploreTopCategories ul li {
  max-width: 135px;
  max-height: 112px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.0784313725);
  cursor: pointer;
}
.exploreTopCategories ul li:hover {
  background-color: rgba(105, 173, 185, 0.1921568627);
  transition: all 1s;
  transform: scale(1.2);
}
.exploreTopCategories ul li .exploreTopCategories__linkContainer {
  padding: 15px 15px;
  max-height: 112px;
  max-width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exploreTopCategories ul li a {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.exploreTopCategories ul li img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1196px) {
  .exploreTopCategories__linkContainer a {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .exploreTopCategories__linkContainer a {
    font-size: 16px;
  }
  .exploreTopCategories {
    padding-top: 60px;
  }
  .exploreTopCategories ul {
    display: grid;
    grid-template-columns: repeat(4, 155px);
    gap: 16px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .exploreTopCategories__linkContainer a {
    font-size: 14px;
  }
  .exploreTopCategories ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .exploreTopCategories__linkContainer a {
    font-size: 16px;
  }
  .exploreTopCategories {
    padding-top: 0;
  }
  .exploreTopCategories ul {
    grid-template-columns: repeat(2, 135px);
  }
}
.popularCities {
  padding-top: 64px;
}
.popularCities h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .popularCities h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .popularCities h2 {
    font-size: 20px;
  }
}
.popularCities p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #707070;
  padding-top: 16px;
}

.exploreTopCategories__citiesList {
  padding-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.exploreTopCategories__citiesList img {
  width: 100%;
  height: 100%;
}
.exploreTopCategories__citiesList img:hover {
  transition: all 1s;
  transform: scale(1.2);
}
.exploreTopCategories__citiesList a {
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.exploreTopCategories__citiesList a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .exploreTopCategories__citiesList {
    font-size: 14px;
    align-items: flex-start;
    text-align: center;
  }
  .exploreTopCategories__citiesList a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .popularCities {
    padding-top: 48px;
  }
  .popularCities p {
    font-size: 12px;
    padding-top: 8px;
  }
  .exploreTopCategories__citiesList {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
  }
  .exploreTopCategories__citiesList li:last-child {
    display: none;
  }
}
.howMeetupWorks {
  padding-top: 64px;
}
.howMeetupWorks h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .howMeetupWorks h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .howMeetupWorks h2 {
    font-size: 20px;
  }
}

.howMeetupWorks__discoverEventsContainer {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}

.howMeetupWorks__discoverLink {
  display: flex;
  gap: 24px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.0784313725);
  text-decoration: none;
  color: #212121;
  padding: 32px 130px 24px 24px;
}
.howMeetupWorks__discoverLink:hover {
  background-color: rgba(105, 173, 185, 0.1921568627);
  transition: all 1s;
}

.howMeetupWorks__discoverEvents h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.howMeetupWorks__discoverEvents p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 16px;
}

.howMeetupWorks__search {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #00798a;
  padding-top: 16px;
}

@media (max-width: 992px) {
  .howMeetupWorks__discoverLink {
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .howMeetupWorks__discoverEventsContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 24px;
  }
}
@media (max-width: 576px) {
  .howMeetupWorks {
    padding-top: 43px;
  }
  .howMeetupWorks__discoverEventsContainer {
    gap: 12px;
  }
  .howMeetupWorks__discoverLink {
    justify-content: flex-start;
  }
  .howMeetupWorks__discoverEvents h3 {
    font-size: 12px;
  }
  .howMeetupWorks__discoverEvents p {
    font-size: 10px;
  }
  .howMeetupWorks__search {
    font-size: 10px;
  }
}
.friendshipOnMeetup {
  padding-top: 64px;
}
.friendshipOnMeetup h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 992px) {
  .friendshipOnMeetup h2 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .friendshipOnMeetup h2 {
    font-size: 20px;
  }
}

.friendshipOnMeetup__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #707070;
  padding-top: 16px;
  padding-right: 320px;
}

.friendshipOnMeetup__container {
  padding-top: 28px;
  display: flex;
  gap: 32px;
}

.friendshipOnMeetup__article {
  flex-basis: 0;
  flex-grow: 1;
}
.friendshipOnMeetup__article img {
  width: 100%;
  height: 191px;
}
.friendshipOnMeetup__article img:hover {
  transition: all 1s;
  transform: scale(1.1);
}
.friendshipOnMeetup__article h4 {
  padding-top: 24px;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.55;
  color: #212121;
  text-decoration: none;
}
.friendshipOnMeetup__article a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}
.friendshipOnMeetup__article a:hover .friendshipOnMeetup__readMore {
  text-decoration: underline;
  text-decoration-color: #00798a;
}

.friendshipOnMeetup__articleText {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 12px;
  color: #707070;
}

.friendshipOnMeetup__readMore {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 12px;
  color: #00798a;
}

@media (max-width: 992px) {
  .friendshipOnMeetup__article img {
    width: 100%;
    height: 90%;
  }
}
.friendshipOnMeetup__articleText {
  font-size: 15px;
}

.friendshipOnMeetup__text {
  padding-right: 20px;
}

@media (max-width: 768px) {
  .friendshipOnMeetup__text {
    padding-right: 20px;
  }
  .friendshipOnMeetup__container {
    flex-direction: column;
  }
  .friendshipOnMeetup__container img {
    height: 275px;
  }
}
@media (max-width: 576px) {
  .friendshipOnMeetup {
    padding-top: 32px;
  }
  .friendshipOnMeetup__article h4 {
    font-size: 16px;
  }
  .friendshipOnMeetup__article img {
    height: 80%;
  }
  .friendshipOnMeetup__articleText {
    font-size: 12px;
    padding-right: 50px;
  }
  .friendshipOnMeetup__readMore {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */