* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-font-color: #212121;
$secondary-font-color: #707070;
$primary-color: #00798a;

body {
  font-family: "Roboto", sans-serif;
  color: $primary-font-color;
}

ul {
  list-style: none;
}

.container {
  width: 1181px;
  padding: 0 15px;
  margin: 0 auto;
}

button:active {
  transform: translateY(2px);
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 540px) {
  .container {
    max-width: 520px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1196px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@import "1-header";
@import "2-hero";
@import "3-events-near";
@import "4-join-meetup";
@import "5-explore-top-categories";
@import "6-popular-cities";
@import "7-how-meetup-works";
@import "8-friendships";
@import "9-footer";
@import "events";
